build-server/
build-*/
.venv/
.git/
.github/
.gitlab-ci.yml
*.md
.env
myServerconfig.cfg
data/musicso/
data/musico/prepared_maps/
data/webmaps/
data/musico/*.sqlite3
ddnet-libs/
cmake/
other/
scripts/
datasrc/
tests/
man/
src/android/
src/macos/
src/steam/
src/tools/
Dockerfile
docker-compose*.yml
